@(currentPage: Page[Project], currentSortBy: String, currentOrder: String, currentFilter: String)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
   
        }
    }
    // Generate the link
    routes.Application.projectList(newPage, sortBy, order, currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
          <a href="@link(0, key)">@title</a>
    </th>
}

@main {
    
    <h1 id="homeTitle"> @Messages("projects.list.title", currentPage.getTotalRowCount)</h1>
    
    @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Done!</strong> @flash.get("success")
        </div>
    } 

    <div id="actions">
        
        <form action="@link(0, "name")" method="GET">
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by project name...">
            <input type="submit" id="searchsubmit" value="Filter by name" class="btn primary">
        </form>
     
        <a class="btn success" id="add" href="@routes.Application.create()">Add a new project</a>
        <a class="btn success" id="history" href="@routes.Historys.hList()">History</a>
        <a class="btn success" id="material" href="@routes.Materials.mList()">Materials</a>
        
    </div>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="projects zebra-striped">
            <thead>
                <tr>
                    @header("name", "Project name")
                    @header("end_date", "End date")
                    @header("order_", "Order parts")
                    @header("done_parts", "Done parts")
                    @header("material.m_name", "Material")
                    @header("mat_count", "Material amount")
                    @header("company.c_name", "Company")
                </tr>
            </thead>
            <tbody>

                @for(project <- currentPage.getList) {
                    <tr>
                    <td>
                    <a href="@routes.Application.edit(project.id)">@project.name</a>
                    @if(project.done_parts == 0){
                    <em>waiting</em>
                    } @if(project.done_parts != 0 && project.done_parts < project.order_){
                    <em>running</em>
                    } 
                    </td>
                        <td>
                            @if(project.end_date == null) {
                                <em>-</em>
                            } else {
                                @project.end_date.format("dd-MM-yyyy")
                            }
                        </td>
                        <td>
                            @if(project.order_ == 0) {
                                <em>-</em>
                            } else {
                                @project.order_
                            }
                        </td>
                        <td>
                             @if(project.done_parts >= project.order_ ) {
                                @project.done_parts
                                <em>finished</em>
							} else {
                                @project.done_parts
                                <a class= "btn" href="@routes.Application.editDoneParts(project.id)">Done</a>
                            }
                        </td>
                           <td>
                            @if(project.material == null){
                            <em>-</em>
                            } else {
                            @project.material.m_name
                            }
                        </td>
                         <td>
                            @if(project.done_parts >= project.order_ ){
                            @project.mat_count
                            } else {
                               <a href="@routes.Application.editMaterial(project.id)"> @project.mat_count</a>
                            }
                        </td>
                           <td>
                            @if(project.company == null){
                            <em>-</em>
                            } else {
                               @project.company.c_name
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null )">&larr; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }
        
}

            